<!DOCTYPE html>
<html>
<head>
  <title>Fastentry</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    "fastentry/application", media: "all" %>
  <%= javascript_include_tag "fastentry/application" %>
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/fastentry">
        <%= image_tag("fastentry/logo.png") %>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="<%= root_path %>">
          Dashboard
        </a>
      </div>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
